.container {
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), #121212;
}

.welcomeTitle {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.content {
  padding: 24px 32px;
}

@media (max-width: 768px) {
  .content {
    padding: 16px;
  }

  .welcomeTitle {
    font-size: 24px;
  }
}
